.wrangler
node_modules
.DS_Store
.vercel
.env*.local
.next
links.json
tsconfig.tsbuildinfo
scripts/import-test.sh
.claude
.env*

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
